<!-- <table>
    <tr class="tr-topo">
        <th id="id">Id</th>
        <th id="nome">Nome</th>
        <th id="idade">Idade</th>
    </tr>
    <tr *ngFor="let cli of _clienteList">
        <td>{{cli.id}}</td>
        <td>{{cli.nome}}</td>
        <td>{{cli.idade}}</td>
    </tr>
</table> -->

<div class="title"><p>CLIENTE</p></div>
 
<app-table 
    [url]="'cliente'"
    [data]="_clienteList"
    [colunas]="_colunasList"
    [atributos]="_atributosList"
    [colunasEditar]="_colunasEditar"
    [atributosEditar]="_atributosEditar">
</app-table>