.campo{
    float: left;
    width: 20%;
}

.input{
    float: left;
    width: 80%;
    height: 34px;
}

.title{
    background-color: aquamarine;
    height: 30px;
    border-radius: 6px;
}

.name-title{
    font-size: 20px;
    color: slategrey;
    margin-left: 0.5%;
    padding: 0.2%;
}

.botoes{
    width: 100%;
    float: left;
    margin-top: 2%;
}

button{
    float: right;
    margin-left: 1%;
}